internationaliation/react-intl/node_modules/*
internationaliation/react-i18next/node_modules/*
moduleFederation/cartRepo/node_modules/*
moduleFederation/containerRepo/node_modules/*
moduleFederation/productRepo/node_modules/*