internationaliation/react-intl/node_modules/*
internationaliation/react-i18next/node_modules/*

moduleFederation/cartRepo/node_modules/*
moduleFederation/containerRepo/node_modules/*
moduleFederation/productsRepo/node_modules/*

moduleFederation_React/auth/node_modules/*
moduleFederation_React/container/node_modules/*
moduleFederation_React/dashboard/node_modules/*
moduleFederation_React/marketing/node_modules/*
moduleFederation_React/auth/dist/*
moduleFederation_React/container/dist/*
moduleFederation_React/dashboard/dist/*
moduleFederation_React/marketing/dist/*